.game__header {
  font-weight: 900;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  border-bottom: 3px solid white;
  box-shadow: 0px 3px 5px blue;
}
#game__header__userdetails {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.headerbox {
  margin-top: 10px;
}
.headerimg {
  margin-right: 5px;
}

@media (max-width: 450px) {
  .game__header__userdetails {
    flex-direction: column;
  }
  .headerbox {
    font-size: 20px;
  }
}
