body {
  background-color: black;
}
#game {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.game__screen {
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

#game__screen__left {
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  height: max-content;
  align-items: center;
}

#game__screen__left__gamenumber {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: 900;
  border-bottom: 2px solid blue;
}
#game__screen__left__timer {
  background-image: url("../assets/timer.png");
  background-size: contain;
  display: flex;
  height: 200px;
  width: 200px;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 40px;
}
#game__screen__left__gameover {
  display: none;
  height: 200px;
  width: 200px;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 900;
  font-size: 30px;
}
#game__screen__left__gameover__text {
  color: red;
  font-size: 40px;
}
#game__screen__left__gameword {
  font-size: 30px;
  font-family: "Arial", sans-serif;
  font-weight: 900;
  display: flex;
}

.gameword__letter {
  color: white;
}
.gameword__letter--correct {
  color: green;
}
.gameword__letter--wrong {
  color: red;
}
#game__screen__left__wordinput {
  height: 40px;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  color: black;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}
#game__screen__left__playagainbutton {
  width: 150px;
  background-color: blue;
  color: white;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
#game__screen__left__playagainbutton:hover {
  border: 2px solid white;
  cursor: pointer;
  background-color: rgb(0, 0, 136);
}
#game__screen__left__playagainbutton:active {
  transform: scale(0.9);
}

#game__screen__left__playagainbutton:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
#game__screen__left__quitgamebutton {
  width: 150px;
  background-color: blue;
  color: white;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
#game__screen__left__quitgamebutton:hover {
  border: 2px solid white;
  cursor: pointer;
  background-color: rgb(0, 0, 136);
}
#game__screen__left__quitgamebutton:active {
  transform: scale(0.9);
}
#game__screen__right {
  /* background-color: aqua; */
  display: flex;
  height: max-content;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
#game__screen__right__scoreboard {
  align-items: center;
  border: 2px solid blue;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 10px;
  background-color: black;
  width: 250px;
  height: auto;
  box-shadow: 3px 3px 6px blue;
  min-height: 300px;
}

.game__screen__right__scoreboardlist {
  font-size: 20px;
  margin: 5px;
  margin-bottom: 10px;
  list-style-type: none;
  text-align: center;
}
@media (max-width: 630px) {
  .game__screen {
    flex-direction: column;
    gap: 0px;
  }
}
@media (max-width: 700px) {
  .game__screen {
    gap: 0px;
  }
}
