body{
    background-color: black;}
#game{
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    flex-direction: column;
    
}
.game-header{
    font-weight: 900;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 10px;
    font-size: 30px;
    border-bottom: 3px solid white;
    box-shadow:0px 3px 5px blue;
}

.game-screen{
    padding: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

#game-screenleft{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    height: max-content;
    align-items: center;
}

#gamenumber{
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 900;
    border-bottom: 2px solid blue;
}
#timer{
    background-image: url("../assets/timer.png");
    background-size: contain;
    display: flex;
    height: 200px;
    width:200px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 40px;
}
#gameover{
    display: none;
    height: 200px;
    width:200px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 40px;
}
#gameword{
    font-size: 30px;
    font-family: "Arial", sans-serif;
    font-weight: 900;
    display: flex;
}
.gameword_letter{
    color: white;

}
.gameword_letter-correct {
    color: green;
  }
  
.gameword_letter-wrong {
    color: red;
  }
#wordinput{
    height: 40px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    color: black;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
#playagainbutton{
    width: 150px;
    background-color: blue;
    color: white;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
#playagainbutton:hover{
    border: 2px solid white;
    cursor: pointer;
    background-color: rgb(0, 0, 136);
}
#playagainbutton:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
#quitgamebutton{
    width: 150px;
    background-color: blue;
    color: white;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
#quitgamebutton:hover{
    border: 2px solid white;
    cursor: pointer;
    background-color: rgb(0, 0, 136);
}
#game-screenright{
    /* background-color: aqua; */
    display: flex;
    height: max-content;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
#scoreboard{
    align-items: center;
    border: 2px solid blue;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 10px;
    background-color: black;
    width: 200px;
    height: auto;
    box-shadow: 3px 3px 6px blue;
    min-height: 300px;
}

.scoreboardlist{
    font-size: 20px;
    margin: 5px;
    margin-left: 20%;
    margin-bottom: 10px;
    list-style-type: none;
    text-align: left;
}
@media(max-width:600px){
    .game-screen{
        flex-direction: column;
        
    }
}
@media(max-width:400px){
    .game-header{
        flex-direction: column;
        /* align-items: center; */
    }
}