* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  display: flex;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#home__container {
  margin: auto;
  padding: 20px;
  display: flex;
  width: fit-content;
  color: white;
  background-color: black;
  border: 2px solid blue;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 3px 3px 8px blue;
}
#home__container__namebox {
  width: 250px;
  height: 40px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}
#home__container__namebox:hover {
  border: 2px solid blue;
}
#home__container__selectdiff {
  width: 250px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
#home__container__selectdiff:hover {
  border: 2px solid blue;
}
#home__container__startbutton {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  margin: 10px;
  background-color: blue;
  font-weight: bolder;
  color: white;
  border: none;
}
#home__container__startbutton:hover {
  border: 2px solid white;
  cursor: pointer;
  background-color: rgb(0, 0, 136);
}
