*::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--highlight--color);
  border-radius: 2px;
}

.scoreboard {
  width: 300px;
  min-height: 381px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: var(--background--color);
  border: 4px solid var(--highlight--color);
  border-radius: 10px;
  overflow: hidden;
}

.scoreboard h2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}

.scoreboard__list {
  max-height: 308px;
  overflow-y: auto;
}

.list__item {
  font-size: 20px;
  margin: 5px;
  margin-bottom: 15px;
}
@media (max-width: 640px) {
  .scoreboard {
    margin: auto;
    margin-top: 10px;
  }
}
